@font-face {
  font-family: "Geologica";
  src: url(fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

:root {
  --primary-text: "Geologica";
  --background-color: #ffffff;
  --navbar-background-color: rgba(0, 0, 0, 1);
  --sidebar-background-color: rgba(0, 0, 0, 1);
  --navbar-txt-color: #B4B4B4;
  --navbar-hover-txt-color: #FFFFFF;
  --navbar-border-color: #B4B4B4;
  --navbar-border-color-hover: #FFFFFF;
  --navbar-blur: 5px;
  --navbar-link-border-radius: 20px;
  --navbar-link-width: 1px;
  --navbar-link-hover-width: 3px;
  --navbar-link-letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 12pt;
  font-family: "Geologica";
}

body {
  background: var(--background-color);
  overflow-x: hidden;
}

.homeiconlogo {
  width: 100px;
  height: 100px;
}

nav {
  height: 60px;
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 40px;
  padding: 0 5px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--navbar-txt-color);
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  transition: 0.5s ease;
}

nav a:hover{
  border-style: solid;
  border-color: var(--navbar-border-color-hover);
  color: var(--navbar-hover-txt-color);
}



nav .home-link {
  margin-right: auto;
  border: none;
}

nav .home-link:hover {
  margin-right: auto;
  border: none;
}

nav svg{
  fill: var(--navbar-txt-color);
}

#sidebar-active{
  display: none;
}

.open-sidebar-button, .close-sidebar-button{
  padding: 0 20px;
  display: none;
  cursor: pointer;
}

@media(max-width: 595px) {
  nav {
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }

  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 350px;

    background-color: var(--sidebar-background-color);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease;
  }
  
  nav a{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    border: none;
  }
  .open-sidebar-button, .close-sidebar-button{
    display: block;
  }

  .close-sidebar-button {
    margin-top: 40px;
  }

  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  .homeiconlogo {
    max-height: 50px;
    transform: scale(3);
    margin: 0;
  }
}