@font-face {
  font-family: "Geologica";
  src: url(fonts/Geologica-VariableFont_CRSV\,SHRP\,slnt\,wght.ttf);
}

:root {
  --primary-text: "Geologica";
  --background-color: #ffffff;
  --navbar-background-color: rgba(0, 0, 0, 1);
  --navbar-txt-color: #B4B4B4;
  --navbar-hover-txt-color: #FFFFFF;
  --navbar-border-color: #B4B4B4;
  --navbar-border-color-hover: #FFFFFF;
  --navbar-blur: 5px;
  --navbar-link-border-radius: 20px;
  --navbar-link-width: 1px;
  --navbar-link-hover-width: 3px;
  --navbar-link-letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  overflow-x: hidden;
}

nav {
  height: 60px;
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--primary-text);
  backdrop-filter: blur(var(--navbar-blur)); /* Glass blur effect */
  -webkit-backdrop-filter: blur(var(--navbar-blur)); /* For Safari support */
  border-bottom: 1px solid var(--navbar-border-color); /* Optional border for better definition */
  padding: 0 20px; /* Add some horizontal padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a {
  height: 100%;
  padding: 0 10px;
  max-height: 40px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--navbar-txt-color);
  transition: border-width 0.3s, color 0.3s; /* Smooth transitions */
  border: solid var(--navbar-border-color); /* Always have a border */
  border-width: var(--navbar-link-width); /* Default thin border */
  border-radius: var(--navbar-link-border-radius); /* Always rounded corners */
  box-sizing: border-box; /* Ensures padding remains consistent */
  margin-left: 5px;
}

nav a:hover {
  border-width: var(--navbar-link-hover-width); /* Thicker border on hover */
  color: var(--navbar-hover-txt-color); /* Optional color change */
  border-color: var(--navbar-border-color-hover);
}

nav .home-link {
  margin-right: auto;
  border: none; /* Completely removes the border */
  transition: none; /* No hover effect */
}

nav .home-link:hover {
  border: none; /* Ensures no border appears on hover */
  color: var(--navbar-txt-color); /* Keeps the same text color */
}


